.container {
  margin-left: 140px;
  @include tablets {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  position: absolute;
  top: 32px;
  left: 140px;
  @include tablets {
    left: 10px;
  }
}

.header__title {
  margin-left:  10px;
}

.header__img {
  height: 19px;
}

.quiz {
  display: flex;
  flex-direction: row;
  @include tablets {
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.quiz__img {
  width: 60%;
  height: 60%;
  @include tablets {
    width: 80%;
    margin-left: auto;
  }
  @include phones {
    width: 90%;
  }
}

.quiz__content {
  width: 100%;
}