.quiz__content {
  min-width: 380px;
  &.quiz--home {
    margin-top: 312px;
    @include tablets {
      margin-top: 10px;
    }
  }
  @include tablets {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
}

.quiz__sub-title {
  font-weight: 500;
  font-size: rem(15px);
}

.quiz__title {
  @include phones {
    margin: 0;
  }
}

.quiz_button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 32px;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #fff;
  background: #000;
  border-radius: 16px;
  cursor: pointer;
  &.next, &.last {
    margin-bottom: 20px;
  }
}

.quiz_button:hover {
  color: #ffffff;
  background: #584ac2;
}

.quiz_buttonArrow {
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 12px;
  fill: none;
  stroke: #fff;
}

.quiz_button:hover .btnArrow {
  stroke: #000;
}