.quiz__nav, .answers__list {
  margin-left: 0;
  padding-left: 0;
  @include tablets {
    margin: 5px;
  }
}

.quiz__content {
  &.quiz--question {
    margin-top: 200px;
    @include tablets {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
  }
}

.quiz__nav-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e8e8e8;
  &:not(:last-of-type) {
    margin-right: 10px;
  }
  &.active {
    background: #000;
  }
}

.answers__list {
  list-style: none;
}

.answers__item {
  cursor: pointer;
}

.answers__label {
  display: inline-flex;
}

.answers__control {
  display: block;
  margin-bottom: rem(15px);
}

.answers__radio {
  align-items: center;
  margin-right: rem(15px);
}

.answers__radio-elem {
  display: none;
}

.answers__radio-fake {
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  margin-right: 23px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  background: white;
  vertical-align: middle;
  cursor: pointer;
  &:after {
    content: "";
    display: none;
    width: 7px;
    height: 7px;
    background: #a8d900;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 20%);
  }
}

.answers__radio-elem:checked + .answers__radio-fake:after {
  display: block;
}

.answers__radio-elem:checked + .answers__radio-fake {
  border-color: #a8d900;
}

.answers__text {

}

.answers__error {
  height: 20px;
  font-size: 14px;
  color: #d54f4f;
}


