.quiz__content {
  &.quiz--result {
    margin-top: 200px;
  }
}

.quiz_button.result {
  margin-bottom: 20px;
}

.form {
  margin-top: 30px;
}

.form__item {
  margin: 20px 0 20px 0;
}

.form__item-input {
  height: 30px;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  &:focus {
    border-bottom: 1px solid #000;
  }
}

.form__error {
  display: none;
  font-size: 14px;
  color: #d54f4f;
  margin-top: 12px;
}

