@media screen and (max-width: 768px) {
  html {
    font-size: 15px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 15px; } }

body {
  font-family: 'Montserrat', sans-serif; }

.container {
  margin-left: 140px; }
  @media screen and (max-width: 768px) {
    .container {
      margin-left: 10px;
      display: flex;
      flex-direction: column; } }

.header {
  display: flex;
  position: absolute;
  top: 32px;
  left: 140px; }
  @media screen and (max-width: 768px) {
    .header {
      left: 10px; } }

.header__title {
  margin-left: 10px; }

.header__img {
  height: 19px; }

.quiz {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 768px) {
    .quiz {
      margin-left: 10px;
      display: flex;
      flex-direction: column-reverse; } }

.quiz__img {
  width: 60%;
  height: 60%; }
  @media screen and (max-width: 768px) {
    .quiz__img {
      width: 80%;
      margin-left: auto; } }
  @media screen and (max-width: 480px) {
    .quiz__img {
      width: 90%; } }

.quiz__content {
  width: 100%; }

.quiz__content {
  min-width: 380px; }
  .quiz__content.quiz--home {
    margin-top: 312px; }
    @media screen and (max-width: 768px) {
      .quiz__content.quiz--home {
        margin-top: 10px; } }
  @media screen and (max-width: 768px) {
    .quiz__content {
      display: flex;
      flex-direction: column;
      min-width: 100%; } }

.quiz__sub-title {
  font-weight: 500;
  font-size: 0.9375rem; }

@media screen and (max-width: 480px) {
  .quiz__title {
    margin: 0; } }

.quiz_button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 32px;
  padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #fff;
  background: #000;
  border-radius: 16px;
  cursor: pointer; }
  .quiz_button.next, .quiz_button.last {
    margin-bottom: 20px; }

.quiz_button:hover {
  color: #ffffff;
  background: #584ac2; }

.quiz_buttonArrow {
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 12px;
  fill: none;
  stroke: #fff; }

.quiz_button:hover .btnArrow {
  stroke: #000; }

.quiz__nav, .answers__list {
  margin-left: 0;
  padding-left: 0; }
  @media screen and (max-width: 768px) {
    .quiz__nav, .answers__list {
      margin: 5px; } }

.quiz__content.quiz--question {
  margin-top: 200px; }
  @media screen and (max-width: 768px) {
    .quiz__content.quiz--question {
      margin-top: 10px;
      display: flex;
      flex-direction: column; } }

.quiz__nav-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e8e8e8; }
  .quiz__nav-item:not(:last-of-type) {
    margin-right: 10px; }
  .quiz__nav-item.active {
    background: #000; }

.answers__list {
  list-style: none; }

.answers__item {
  cursor: pointer; }

.answers__label {
  display: inline-flex; }

.answers__control {
  display: block;
  margin-bottom: 0.9375rem; }

.answers__radio {
  align-items: center;
  margin-right: 0.9375rem; }

.answers__radio-elem {
  display: none; }

.answers__radio-fake {
  flex: 0 0 10px;
  width: 10px;
  height: 10px;
  margin-right: 23px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  background: white;
  vertical-align: middle;
  cursor: pointer; }
  .answers__radio-fake:after {
    content: "";
    display: none;
    width: 7px;
    height: 7px;
    background: #a8d900;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 20%); }

.answers__radio-elem:checked + .answers__radio-fake:after {
  display: block; }

.answers__radio-elem:checked + .answers__radio-fake {
  border-color: #a8d900; }

.answers__error {
  height: 20px;
  font-size: 14px;
  color: #d54f4f; }

.quiz__content.quiz--result {
  margin-top: 200px; }

.quiz_button.result {
  margin-bottom: 20px; }

.form {
  margin-top: 30px; }

.form__item {
  margin: 20px 0 20px 0; }

.form__item-input {
  height: 30px;
  border: none;
  border-bottom: 1px solid #999;
  outline: none; }
  .form__item-input:focus {
    border-bottom: 1px solid #000; }

.form__error {
  display: none;
  font-size: 14px;
  color: #d54f4f;
  margin-top: 12px; }

/*# sourceMappingURL=main.css.map */
